#main-list{
    padding-top: 20px;
    padding-bottom: 10px;
}
#list-lines{
    padding: 5px;
}
#main-add{
    padding-top: 20px;
    padding-bottom: 10px;
}
.infoIn{
    font-size: 16px;
    line-height: 34px;
    font-weight: 700;
}
#btn-primary{
    margin-bottom: 5px;
}